<section id="fh5co-home" data-section="home"  data-stellar-background-ratio="0.5">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <h1 class="to-animate">
              Welcome to EKIS Payer.
            </h1>
            <h2 style="text-align:left">News!</h2>
            <hr>

            <!-- <div class="" style="background:white; width:100%">
              <div *ngFor="let d of fields; let index=index; let odd=odd; let even=even;">
                <div *ngIf="even">
                  <div class="form-group" class="col-md-6">
                    <label>{{ fields[index].displayName }}</label>
                    <span>{{ viewRecord[fields[index].fieldName]}}</span>
                  </div>
                  <div class="form-group" class="col-md-6">
                    <label>{{ fields[index+1].displayName }}</label>
                    <span>{{ viewRecord[fields[index+1].fieldName]}}</span>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <h1 class="to-animate"></h1> -->

          </div>

        </div>
        <br><br>
        <!-- <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="to-animate">and more?</h1>
            <h2 class="to-animate">what ever</h2>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-intro">
  <div class="container">
    <div class="row row-bottom-padded-lg">

    </div>
    <!-- <div class="row watch-video text-center to-animate">
      <span>Watch the video</span>

      <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo btn-video"><i class="icon-play2"></i></a>
    </div> -->
  </div>
</section>
