
<section id="fh5co-home" data-section="home"  data-stellar-background-ratio="0.5">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <h1 class="to-animate">
            Users Dashboard.
          </h1>
              <div class="col-md-8 col-md-offset-2">

                <h2 style="text-align:left">Users</h2>
                <hr>


              <ng-table [config]="config"
                (tableChanged)="onChangeTable(config)"
                (cellClicked)="onCellClick($event)"
                [rows]="rows" [columns]="columns">
              </ng-table>

              <pagination *ngIf="config.paging"
              class="pagination-sm"
              [(ngModel)]="page"
              [totalItems]="length"
              [itemsPerPage]="itemsPerPage"
              [maxSize]="maxSize"
              [boundaryLinks]="true"
              [rotate]="false"
              (pageChanged)="onChangeTable(config, $event)"
              (numPages)="numPages = $event">
            </pagination>
            <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>

              </div>



        </div>
        <br><br>

      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>
