

<!-- dibuja el navbar -->
<app-navbar *ngIf="!location.path().includes('login')"></app-navbar>
<!-- fin navbar -->

<!-- dibuja el home -->
<!-- <app-home></app-home> -->
<!-- fin home -->

<router-outlet></router-outlet>

<!-- dibuja la seccion de footer -->
<app-footer *ngIf="!location.path().includes('login')"></app-footer>
<!-- fin footer -->


	<!-- For demo purposes Only ( You may delete this anytime :-)
	<div id="colour-variations">
		<a class="option-toggle"><i class="icon-gear"></i></a>
		<h3>Preset Colors</h3>
		<ul>
			<li>
				<a href="javascript: void(0);" data-theme="../assets/css/style">
					<span style="background: #3f95ea;"></span>
					<span style="background: #52d3aa;"></span>
					<span style="background: #f2f2f2;"></span>
				</a>
			</li>
			<li>
				<a href="javascript: void(0);" data-theme="../assets/css/style2">
					<span style="background: #329998;"></span>
					<span style="background: #6cc99c;"></span>
					<span style="background: #f2f2f2;"></span>
				</a>
			</li>
			<li>
				<a href="javascript: void(0);" data-theme="../assets/css/style3">
					<span style="background: #9f466e;"></span>
					<span style="background: #c24d67;"></span>
					<span style="background: #f2f2f2;"></span>
				</a>
			</li>
			<li>
				<a href="javascript: void(0);" data-theme="../assets/css/style4">
					<span style="background: #21825C;"></span>
					<span style="background: #A4D792;"></span>
					<span style="background: #f2f2f2;"></span>
				</a>
			</li>

		</ul>
	</div>
	<!-- End demo purposes only -->

	<script>

	$(function(){


	});

	</script>
