<footer id="footer" role="contentinfo">
  <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
  <div class="container">
    <div class="">
      <div class="col-md-12 text-center">
        <p>&copy; 2017  All Rights Reserved. <br>Created by <a href="#" target="_blank">Charly</a>
        </p>
        <i>From <a href="http://vivaaguascalientes.com/" target="_blank">Aguascalientes</a>,
          <a href="https://www.visitmexico.com/es" target="_blank">México</a>
          <img src="assets/images/mexico.png" width="25px" alt="">
        </i> with
        <img src="assets/images/heart.png" width="30px" alt="">

      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="social social-circle">
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
