<div [ngClass]="{headergreen: type==1,headerred: type==2,headerblue: type==3}" >
  {{title}}

</div>

<div class="mensaje" *ngIf="isQuestion">
  <!-- <h3 style="text-align:center"><b><i>{{ title }}</i></b></h3> -->
  <div class="" style="width:100%;text-align:center">

    <br>
    <br>
    <p class="question">{{ message }}</p>
    <br>
    <button (click)="Cancel()" type="button" name="button" class="btn btn-danger bigbutton">Close</button>
    <button (click)="Ok()" type="button" name="button" class="btn btn-success bigbutton">Ok</button>

  </div>
</div>

<div class="mensaje" *ngIf="!isQuestion">
  <!-- <h3 style="text-align:center"><b><i>{{ title }}</i></b></h3> -->
  <div class="" style="width:100%;text-align:center;padding-top: 3%;padding-left:12px;padding-right:12px">
    <!-- <img *ngIf="icon==1" src="assets/img/Ok.png" width="30px">
    <img *ngIf="icon==2" src="assets/img/AlertRed.png" width="30px">
    <img *ngIf="icon==3" src="assets/img/warninginfo.png" width="30px">
    <img *ngIf="icon==4" src="assets/img/Question.png" width="30px">
    <img *ngIf="icon==5" src="assets/img/QuestionError.png" width="30px"> -->
    <p class="titleqb">Error</p>
    <pre class="question">{{ message }}</pre>
    <br>
    <p class="titleq">Section</p>
    <pre class="question">{{section}}</pre>
    <br>
    <button (click)="Ok()" type="button" name="button" class="btn btn-danger bigbutton">Ok</button>
    <br>

    <button (click)="showHide = !showHide" class="btn btn-info bigbutton">more Details</button>
    <!-- <md-slide-toggle [(ngModel)]="checkedRuleName">Rule Name</md-slide-toggle> -->

    <!-- <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch> -->
    <pre [hidden]="!showHide" > {{jsonObj | json}} </pre>
    <!-- <textarea name="TextInpu" [(ngModel)]="TextInput" rows="8" cols="80" style="width: 30em; height: 6em;"></textarea> -->
    <br>


  </div>
</div>
